:root {
  --scroll-size:15px;
  --scroll-radius: 10px;
  --scroll-track: #14213d;
  --scroll-thumb-color: #fca311;
 
}
body::-webkit-scrollbar {
  width: var(--scroll-size, 15px);
  height: var(--scroll-size, 15px);
}
body::-webkit-scrollbar-track {
  background-color: var(--scroll-track, transparent);
  border-radius: var(--scroll-track-radius, var(--scroll-radius));
}
body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color, #000);
  border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
}

.imagen {
  background-image: url(https://images.pexels.com/photos/53874/pexels-photo-53874.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  padding: 1.2% 0%;
}

.contenedorHome {
  margin: 1% auto;
  text-align: center;
  background-color: #ffffff99;
  width: 50%;
  padding: 5% 0%;
}

.tituloHome {
  width: 69%;
  text-align: left;
  margin: 0px auto;
  color: #000;
  padding: 0% 2%;
}
.fraseHome {
  width: 65%;
  font-size: 19px;
  text-align: left;
  margin: 0px auto;
}

.cajaEnlacesHome {
  margin: 4% 35%;
  text-align: center;
  text-decoration: none;
}

.enlacesHomeA {
  display: flex;
  margin: 0% auto;
  padding: 1% 4%;
  width: 97%;
  text-decoration: none;
  color: #ffff;
  background: rgb(255, 46, 0);
  background: linear-gradient( 90deg, rgba(255, 46, 0, 1) 0%, rgba(255, 0, 0, 1) 49% );
  font-size: 14px;
}
.enlacesHomeB {
  display: flex;
  margin: 5% auto;
  padding: 1% 12%;
  width: 97%;
  text-decoration: none;
  color: #ffff;
  background: rgb(255, 46, 0);
  background: linear-gradient( 90deg, rgba(255, 46, 0, 1) 0%, rgba(255, 0, 0, 1) 49% );
}
.termLicn {
  text-decoration: none;
  color: #f1faee;
  padding: 1% 5%;
  background: rgb(255, 46, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 46, 0, 1) 0%,
    rgba(255, 0, 0, 1) 49%
  );
  transition:1s all;
}
@media screen and (max-width:380px){
  .imagen {
    background-image: url("https://images.pexels.com/photos/53874/pexels-photo-53874.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    padding: 35.3% 0%;
  }
  
  .contenedorHome {
    margin: 1% auto;
    text-align: center;
    background-color: #ffffff99;
    width: 90%;
  }
  
  .tituloHome {
    width: 69%;
    text-align: left;
    margin: 0px auto;
    color: #000;
    padding: 0% 2%;
  }
  .fraseHome {
    width: 65%;
    font-size: 19px;
    text-align: left;
    margin: 0px auto;
  }
  
  .cajaEnlacesHome {
    margin: 0% 23%;
    text-align: center;
    text-decoration: none;
  }
  
  .enlacesHomeA {
    display: flex;
    margin: 5% auto;
    padding: 1% 4%;
    width: 94%;
    text-decoration: none;
    color: #ffff;
    background: rgb(255, 46, 0);
    background: linear-gradient(
      90deg,
      rgba(255, 46, 0, 1) 0%,
      rgba(255, 0, 0, 1) 49%
    );
  }
  .enlacesHomeB {
    display: flex;
    margin: 5% auto;
    padding: 1% 12%;
    width: 94%;
    text-decoration: none;
    color: #ffff;
    background: rgb(255, 46, 0);
    background: linear-gradient( 90deg, rgba(255, 46, 0, 1) 0%, rgba(255, 0, 0, 1) 49% );
}
  .termLicn {
    text-decoration: none;
    color: #f1faee;
    padding: 1% 5%;
    background: rgb(255, 46, 0);
    background: linear-gradient(
      90deg,
      rgba(255, 46, 0, 1) 0%,
      rgba(255, 0, 0, 1) 49%
    );
    transition:1s all;
  }
}