/*Administrador*/
.containerpeAdm{
    background-image: url("https://images.pexels.com/photos/3711238/pexels-photo-3711238.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 1% 0% 21.4% 0%;
}
.cajaPeAdm{
    width: 40%;
    margin: 2% auto;
}
/*Usuario*/
.containerPeUs{
    background-image: url("https://images.pexels.com/photos/933967/pexels-photo-933967.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 1% 0% 21.3% 0%;
}
.cajaPeUs{
    width: 40%;
    margin: 2% auto;
}