.fondoAlmAdm {
  background-image: url("https://images.pexels.com/photos/382297/pexels-photo-382297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 10% 0% 27.6% 0%;
}
.contenedorAlmAdm {
  width: 30%;
  margin: 0% auto;
}
.descripcionAlmAdm {
  background-color: #5e548ed9;
  text-shadow: 1px 1px 1px #000;
  color: #fafaff;
  padding: 13% 18%;
  margin: -24% 0% 0% 0%;
}
.cajaBotAlmAdm {
  margin: 15% 0% 0% 0%;
}
.botonAlmAdm {
  color: #fafaff;
  background-color: #231942;
  text-decoration: none;
  transition: 1s all;
  padding: 0% 3%;
  border-radius: 1%;
  margin: 0% 60% 0% 0%;
  border-bottom: 2px solid #fafaff;
  border-right: 2px solid #fafaff;
  border-left: 2px solid #231942;
  border-top: 2px solid #231942;
  transition: 1s all;
}
.botonAlmAdm:hover {
  background-color: #231942;
  color: #fafaff;
  text-decoration: none;
  transition: 1s all;
  padding: 0% 3%;
  border-radius: 1%;
  margin: 0% 60% 0% 0%;
  border-bottom: 2px solid #231942;
  border-right: 2px solid #231942;
  border-left: 2px solid #fafaff;
  border-top: 2px solid #fafaff;
}
.botonDelAlmAdm {
  background-color: #d90429;
  color: #e4d9ff;
  border-bottom: 2px solid #e4d9ff;
  border-right: 2px solid #e4d9ff;
  border-left: 2px solid #d90429;
  border-top: 2px solid #d90429;
  transition: 1s all;
  width: 13%;
  height: 13%;
  cursor: pointer;
}

.botonDelAlmAdm:hover {
  background-color: #d90429;
  color: #e4d9ff;
  border-top: 2px solid #e4d9ff;
  border-left: 2px solid #e4d9ff;
  border-right: 2px solid #d90429;
  border-bottom: 2px solid #d90429;
  transition: 1s all;
  width: 13%;
  height: 13%;
  cursor: pointer;
}
/*Alarma usuario*/
.fondoNotaUs {
  background-image: url(https://images.pexels.com/photos/7718755/pexels-photo-7718755.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 42.4% 0% 0% 0%;
}
.contenedorNotaUs {
  margin: -38% auto;
  width: 50%;
}
.descripcionNotaUs {
  background-color: #1b263ba0;
  text-shadow: 1px 1px 1px #000;
  color: #e0e1dd;
  padding: 5%;
}
.cajaBotUs {
  margin: 0% 0%;
  padding: 8% 0% 0% 0%;
}
.botonUsAl {
  color: #e0e1dd;
  background-color: #1b263b;
  border-bottom: 2px solid #e0e1dd;
  border-right: 2px solid #e0e1dd;
  border-left: 2px solid #1b263b;
  border-top: 2px solid #1b263b;
  text-decoration: none;
  transition: 1s all;
  border-radius: 1%;
  margin: 0% 70% 0% 0%;
  padding: 0% 2%;
}
.botonUsAl:hover {
  background-color: #1b263b;
  color: #e0e1dd;
  border-bottom: 2px solid #1b263b;
  border-right: 2px solid #1b263b;
  border-left: 2px solid #e0e1dd;
  border-top: 2px solid #e0e1dd;
  text-decoration: none;
  transition: 1s all;
  border-radius: 1%;
  margin: 0% 70% 0% 0%;
  padding: 0% 2%;
}
.botonAlEv {
  background-color: #d90429;
  color: #e4d9ff;
  border-bottom: 2px solid #e4d9ff;
  border-right: 2px solid #e4d9ff;
  border-left: 2px solid #d90429;
  border-top: 2px solid #d90429;
  transition: 1s all;
  width: 5%;
  height: 5%;
}
.botonAlEv:hover {
  background-color: #d90429;
  color: #e4d9ff;
  border-top: 2px solid #e4d9ff;
  border-left: 2px solid #e4d9ff;
  border-right: 2px solid #d90429;
  border-bottom: 2px solid #d90429;
  transition: 1s all;
  width: 5%;
  height: 5%;
}
