/*Estilos generales*/

/*Como Administrador*/
.fondoAdmAl {
  background-image: url(https://images.pexels.com/photos/820735/pexels-photo-820735.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-position: center;
  padding: 1% 0% 9% 0%;
}
.cajaAdminisAl {
  margin: 0px auto;
  padding: 4% 0% 16.6% 0%;
}
.cajaPrinAl {
  margin: -7.7% 0%;
}
.tituloAlAdm {
  text-align: center;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
}
.contenidoAlAdm {
  background-color: #5e548eb2;
  text-shadow: 1px 1px 1px #000;
  padding: 5% 5%;
}
.cajaDesAlm {
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

.enlacesAlAdm {
  text-decoration: none;
  font-size: 20px;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}
.enlacesAlAdm:hover {
  text-decoration: none;
  font-size: 20px;
  background-color: #fafaff;
  padding: 0% 5%;
  color: #231942;
  text-shadow: 1px 1px 1px #fff;
  transition: 1s all;
  border-bottom: 1px solid #231942;
  border-right: 1px solid #231942;
}
.cajaCirculoAlmAdm{
  margin: 12% 49%;
}
.circuloAlmAdm{
  background-color: #3b17a7;
  border-radius: 50%;
  color: #fafaff;
  border: 3px groove #fafaff;
  transition:1s all;
  padding: 0% 83%;
}
.circuloAlmAdm:hover{
  color: #231942;
  border-radius: 50%;
  background-color: #9f86c0;
  border: 3px groove #5e548e;
  transition:1s all;
  padding: 0% 83%;
}
/*Como usuario*/
.fondoUsAl {
  background-image: url("https://images.pexels.com/photos/1314544/pexels-photo-1314544.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  padding: 0% 0% 28% 0%;
}
.cajaUsAlarma {
  margin: 0px auto;
  padding: 2% 0%;
}
.cajaPrinAlUs {
  margin: 0% 0%;
}
.tituloAlUs {
  text-align: center;
  color: #a3cef1;
  text-shadow: 1px 1px 1px #000;
  margin: 0% 0% 0% 0%;
}
.contenidoAlUs {
  background-color: #1b263ba3;
  text-shadow: 1px 1px 1px #000;
  padding: 11% 1%;
  width: 160%;
  margin: 0% -27%;
}
.cajaContUs {
  color: #a3cef1;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  margin: 5% 0%;
  padding: 5% 0%;
  border-top: 4px dashed#e0e1dd;


}
.enlacesAlUs {
  text-decoration: none;
  font-size: 20px;
  color: #a3cef1;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}
.enlacesAlUs:hover {
  text-decoration: none;
  font-size: 20px;
  background-color: #e0e1dd;
  padding: 0% 5%;
  color: #1b263b;
  text-shadow: 1px 1px 1px #e0e1dd;
  transition: 1s all;
  border-bottom: 1px solid #1b263b;
  border-right: 1px solid #1b263b;
}
.cajaCirculoAlmUs{
  margin: 12% 49%;
}
.circuloAlmUs{
  background-color: #1b263b;
  border-radius: 50%;
  color: #e0e1dd;
  border: 3px groove #e0e1dd;
  transition:1s all;
  padding: 0% 150%;
}
.circuloAlmUs:hover{
  color: #1b263b;
  border-radius: 50%;
  background-color: #e0e1dd;
  border: 3px groove #1b263b;
  transition:1s all;
  padding: 0% 150%;
}