/*Caja Admin*/
.fondoAdmCal {
  border-top: 5px dashed #edf2f4;
  background: rgb(43, 45, 66);
  background: linear-gradient(
    45deg,
    rgba(43, 45, 66, 1) 0%,
    rgba(237, 242, 244, 1) 50%,
    rgba(141, 153, 174, 1) 100%
  );
  padding: 5% 0% 5% 0%;
}
.cajaAdminisCal {
  margin: 0px auto;
  padding: 2% 0% 10.3% 0%;
}
.tAdminCal {
  text-align: center;
  color: #d90429;
  text-shadow: 1px 1px 1px #000;
}
.cartaEventoCal {
  background-color: #d98484a8;
  color: #d90429;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
  width: 35%;
  margin: 1% auto;
}
.enlcEvnt{
  padding: 0% 38%;
  margin: 3% 0%;
}

.otrosEventos {
  background-color: #000;
  color: #d90429;
  text-decoration: none;
  padding: 1% 2%;
}

.cajaCirculoCalAdm {
  margin: 2% 49%;
}
.circuloCalAdm {
  background-color: #000;
  border-radius: 50%;
  color: #d90429;
  transition: 1s all;
  padding: 0% 20%;
}
.accederCal {
  color: #d90429;
  background-color: #f5f3f4;
  text-shadow: 1px 1px 1px#000;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 1s all;
  padding: 0% 5%;
}
@media screen and (max-width: 380px) {
  .fondoAdmCal {
    border-top: 5px dashed #edf2f4;
    background: rgb(43, 45, 66);
    background: linear-gradient(
      45deg,
      rgba(43, 45, 66, 1) 0%,
      rgba(237, 242, 244, 1) 50%,
      rgba(141, 153, 174, 1) 100%
    );
    padding: 5% 0% 5% 0%;
  }
  .cajaAdminisCal {
    margin: 0px auto;
    padding: 2% 0% 10.3% 0%;
  }
  .tAdminCal {
    text-align: center;
    color: #d90429;
    text-shadow: 1px 1px 1px #000;
  }
  .cartaEventoCal {
    background-color: #d98484a8;
    color: #d90429;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
    width: 90%;
    margin: 16% 5%;
  }
  
.enlcEvnt{
  padding: 0% 15%;
  margin: 3% 0%;
}

.otrosEventos {
  background-color: #000;
  color: #d90429;
  text-decoration: none;
  padding: 1% 2%;
}

  .cajaCirculoCalAdm {
    margin: 2% 49%;
  }
  .circuloCalAdm {
    background-color: #000;
    border-radius: 50%;
    color: #d90429;
    transition: 1s all;
    padding: 0% 80%;
    border: 3px groove #d90429;
  }
  .accederCal {
    color: #d90429;
    background-color: #f5f3f4;
    text-shadow: 1px 1px 1px#000;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 1s all;
    padding: 0% 5%;
  }
}
/*Caja Usuario*/
.fondoUsCalendar {
  background: rgb(226, 149, 120);
  background: linear-gradient(
    45deg,
    rgba(226, 149, 120, 1) 0%,
    rgba(237, 246, 249, 1) 50%,
    rgba(0, 109, 119, 1) 100%
  );

  padding: 7% 0% 7% 0%;
}

.cajaUsuCalen {
  margin: 0px auto;
  padding: 2% 0% 10.3% 0%;
}

.letraCalUs {
  color: #fec89a;
  text-shadow: 1px 1px 1px #000;
  width: 104%;
}
.tusCal {
  text-align: center;
  color: #fec89a;
  text-shadow: 1px 1px 1px #000;
}
.cartaCalUs {
  text-align: center;
  background-color: #1b263ba0;
  width: 50%;
  margin: 2% 25%;
}
.accederCalUs {
  text-decoration: none;
  color: #fec89a;
  background-color: #2f3e46;
  text-shadow: 1px 1px 1px #000;
  padding: 0% 3%;
  transition: 1s all;
}
.cajaBtnCalendar {
  margin: 0% 48%;
}
.enlcEvntUs{
  padding: 0% 39%;
  margin: 3% 0%;
}

.otrosEventosUs {
  background-color: #e4d9ff;
  color: #04052e;
  text-decoration: none;
  padding: 1% 2%;
}

.circuloCalUs {
  padding: 0% 40%;
  background-color: #e4d9ff;
  color: #04052e;
  border: 1px solid #000;
  text-decoration: none;
  transition: 1s all;
}
.circuloCalUs:hover {
  padding: 0% 40%;
  color: #e4d9ff;
  border: 1px solid #000;
  background-color: #04052e;
  text-decoration: none;
  transition: 1s all;
}
@media screen and (max-width: 380px) {
  .fondoUsCalendar {
    background: rgb(226, 149, 120);
    background: linear-gradient(
      45deg,
      rgba(226, 149, 120, 1) 0%,
      rgba(237, 246, 249, 1) 50%,
      rgba(0, 109, 119, 1) 100%
    );

    padding: 7% 0% 7% 0%;
  }

  .cajaUsuCalen {
    margin: 0px auto;
    padding: 2% 0% 10.3% 0%;
  }

  .letraCalUs {
    color: #fec89a;
    text-shadow: 1px 1px 1px #000;
    width: 104%;
  }
  .tusCal {
    text-align: center;
    color: #fec89a;
    text-shadow: 1px 1px 1px #000;
  }
  .cartaCalUs {
    text-align: center;
    background-color: #1b263ba0;
    width: 85%;
    margin: 2% 8%;
  }
  .accederCalUs {
    text-decoration: none;
    color: #fec89a;
    background-color: #2f3e46;
    text-shadow: 1px 1px 1px #000;
    padding: 0% 3%;
    transition: 1s all;
  }
  .cajaBtnCalendar {
    margin: 0% 48%;
  }
    
.enlcEvnt{
  padding: 0% 15%;
  margin: 3% 0%;
}

.otrosEventosUs {
  background-color: #e4d9ff;
  color: #04052e;
  text-decoration: none;
  padding: 1% 2%;
}
  .circuloCalUs {
    padding: 0% 40%;
    background-color: #e4d9ff;
    color: #04052e;
    border: 1px solid #000;
    text-decoration: none;
    transition: 1s all;
  }
  .circuloCalUs:hover {
    padding: 0% 40%;
    color: #e4d9ff;
    border: 1px solid #000;
    background-color: #04052e;
    text-decoration: none;
    transition: 1s all;
  }
}
