/*Caja Admin*/
.fondoAdmCal{
  background-image: url("https://images.pexels.com/photos/2897462/pexels-photo-2897462.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  padding: 0% 0% 19.9% 0%;
}
.cajaAdminisCal{
  margin:0px auto;
  padding: 2% 0% 10.3% 0%;

}
.tAdminCal{
  text-align: center;
  color:#fafaff;
  text-shadow: 1px 1px 1px #000;
}
.cartaEventoCal{
  background-color: #5e548eb2;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
  width: 30%;
  margin: 1% auto;

}
.cajaCirculoCalAdm{
  margin: 2% 49%;
}
.circuloCalAdm{
  background-color: #231942;
  border-radius: 50%;
  color: #fafaff;
  border: 3px groove #fafaff;
  transition:1s all;
  padding: 0% 20%;
}
.circuloCalAdm:hover{
  color: #231942;
  border-radius: 50%;
  background-color: #9f86c0;
  border: 3px groove #5e548e;
  transition:1s all;
  padding: 0% 20%;
}
.accederCal{
  color:#fafaff;
  background-color: #231942;
  text-shadow: 1px 1px 1px#000;
  text-decoration: none;
  letter-spacing: 1px;
  transition:1s all;
  padding: 0% 5%;
  border:1px groove #231942;
}
.accederCal:hover{
  background-color:#9f86c0;
  color: #231942;
  text-shadow: 1px 1px 1px#fafaff;
  text-decoration: none;
  letter-spacing: 1px;
  transition:1s all;
  padding: 0% 5%;
  border:1px groove #231942;
}
/*Caja Usuario*/
.fondoUsCalendar{
  background-image: url(https://images.pexels.com/photos/1410226/pexels-photo-1410226.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-position: center;
  padding: 2% 0% 33.5% 0%;
}

.cajaUsuCalen{
  margin:0px auto;
  padding: 2% 0% 10.3% 0%;

}

.letraCalUs{
  color:#e0e1dd;
  text-shadow: 1px 1px 1px #000;
}
.tusCal{
  text-align: center;
  color: #a3cef1;
  text-shadow: 1px 1px 1px #000;
}
.cartaCalUs{
  text-align: center;
  background-color: #1b263ba0;
  width: 30%;
  margin: 2% 35%;
}
.accederCalUs{
text-decoration: none;
color:#e0e1dd;
background-color:#1b263b;
text-shadow: 1px 1px 1px #000;
padding:0% 3%;
transition: 1s all;
}
.accederCalUs:hover{
text-decoration: none;
background-color:#e0e1dd;
color:#1b263d;
font-weight: bold;
text-shadow: 1px 1px 1px #fff;
padding:0% 3%;
transition: 1s all;
}
.cajaCirculoCalUs{
  margin: 0% 48%;
}

.circuloCalUs {
  background-color: #1b263b;
  border-radius: 50%;
  color: #e0e1dd;
  border: 3px groove #fafaff;
  transition:1s all;
  padding: 0% 20%;
  text-decoration:none;
}
.circuloCalUs:hover {
  color: #1b263b;
  border-radius: 50%;
  background-color: #e0e1dd;
  border: 3px groove #fafaff;
  transition:1s all;
  padding: 0% 20%;
  text-decoration:none;
}