/*Como Administrador*/
.fondoNotaAdm {
  background-image: url("https://images.pexels.com/photos/11516396/pexels-photo-11516396.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 10.7%;
}
.contenedorNotaAdm {
  width: 30%;
  margin: 0% auto;
}
.descripcionNotaAdm {
  background-color: #5e548ed9;
  text-shadow: 1px 1px 1px #000;
  color: #fafaff;
  padding: 5%;
  margin: -6.8% 0% 0% 0%;
  width: 108%;
}
.cajaBotonesAdm {
  display: flex;
  align-items: center;
}
.botonAdm {
  color: #fafaff;
  background-color: #231942;
  text-decoration: none;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #fafaff;
  border-right: 2px solid #fafaff;
  border-left: 2px solid #231942;
  border-top: 2px solid #231942;
  transition: 1s all;
}
.botonAdm:hover {
  background-color: #231942;
  color: #fafaff;
  text-decoration: none;
  transition: 1s all;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #231942;
  border-right: 2px solid #231942;
  border-left: 2px solid #fafaff;
  border-top: 2px solid #fafaff;
  transition: 1s all;
}
.modificarNoAdm {
  text-decoration: none;
  color: #fcbf49;
  background-color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: 0% 1%;
  border-bottom: 2px solid #fcbf49;
  border-right: 2px solid #fcbf49;
  border-left: 2px solid #f77f00;
  border-top: 2px solid #f77f00;
  font-size: 15px;
  transition:1s all;
  margin: 0% 3%;
}
.modificarNoAdm:hover {
  text-decoration: none;
  background-color: #fcbf49;
  color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: 0% 1%;
  border-bottom: 2px solid #f77f00;
  border-right: 2px solid #f77f00;
  border-left: 2px solid #fcbf49;
  border-top: 2px solid #fcbf49;
  font-size: 15px;
  transition:1s all;  
  margin: 0% 3%;
}
.botonDelAdmNot {
  background-color: #d90429;
  color: #e4d9ff;
  border-bottom: 2px solid #e4d9ff;
  border-right: 2px solid #e4d9ff;
  border-left: 2px solid #d90429;
  border-top: 2px solid #d90429;
  transition: 1s all;
}
.botonDelAdmNot:hover {
  background-color: #d90429;
  color: #e4d9ff;
  border-top: 2px solid #e4d9ff;
  border-left: 2px solid #e4d9ff;
  border-right: 2px solid #d90429;
  border-bottom: 2px solid #d90429;
  transition: 1s all;
}
/*Como usuario*/
.fondoNotaUs {
  background-image: url(https://images.pexels.com/photos/7718755/pexels-photo-7718755.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 42.4% 0% 0% 0%;
}
.contenedorNotaUs {
  margin: -38% auto;
  width: 50%;
}
.descripcionNotaUs {
  background-color: #1b263ba0;
  text-shadow: 1px 1px 1px #000;
  color: #e0e1dd;
  padding: 5%;
}
.cajaBotonesUs {
  margin: 0% 22%;
}
.botonUs {
  color: #e0e1dd;
  background-color: #1b263b;
  border-bottom: 2px solid #e0e1dd;
  border-right: 2px solid #e0e1dd;
  border-left: 2px solid #1b263b;
  border-top: 2px solid #1b263b;
  text-decoration: none;
  transition: 1s all;
  border-radius: 1%;
  padding: 0% 2%;
}
.botonUs:hover {
  color: #e0e1dd;
  background-color: #1b263b;
  border-bottom: 2px solid #1b263b;
  border-right: 2px solid #1b263b;
  border-left: 2px solid #e0e1dd;
  border-top: 2px solid #e0e1dd;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none;
  transition: 1s all;
  border-radius: 1%;
  padding: 0% 2%;
}
.modificarNoUs {
  text-decoration: none;
  color: #fcbf49;
  background-color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: 0% 1%;
  border-bottom: 2px solid #fcbf49;
  border-right: 2px solid #fcbf49;
  border-left: 2px solid #f77f00;
  border-top: 2px solid #f77f00;
  font-size: 15px;
  transition:1s all;
  margin: 0% 5%;
}
.modificarNoUs:hover {
  text-decoration: none;
  background-color: #fcbf49;
  color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: 0% 1%;
  border-bottom: 2px solid #f77f00;
  border-right: 2px solid #f77f00;
  border-left: 2px solid #fcbf49;
  border-top: 2px solid #fcbf49;
  font-size: 15px;
  transition:1s all;
  margin: 0% 5%;
}
.botonNotaUs {
  background-color: #d90429;
  color: #e4d9ff;
  border-bottom: 2px solid #e4d9ff;
  border-right: 2px solid #e4d9ff;
  border-left: 2px solid #d90429;
  border-top: 2px solid #d90429;
  transition: 1s all;
}
.botonNotaUs:hover {
  background-color: #d90429;
  color: #e4d9ff;
  border-top: 2px solid #e4d9ff;
  border-left: 2px solid #e4d9ff;
  border-right: 2px solid #d90429;
  border-bottom: 2px solid #d90429;
  transition: 1s all;
}
