/*Como Admin*/
.fondoNotasAdm{
    background-image: url("https://images.pexels.com/photos/5766466/pexels-photo-5766466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 1% 0% 27% 0%;
}
.contenedorNotasAdm{
    margin:-3px auto;
    width: 50%;
}
.tituloNotaAdm{
    text-shadow: 1px 1px 1px #000;
    color:#fafaff;
    text-align: center;
    margin: 3% 0%;

}
.contenidoNotaAdm{
    background-color: #5e548eb2;
    text-shadow: 1px 1px 1px #000;
    padding: 2% 2%;
}
.bordeCajaEnlcAdm{
    border-bottom:3px solid #231942;
    margin:1% 0%
}
.enlacesNotaAdm{
    text-decoration: none;
    font-size: 20px;
    color: #fafaff;
    text-shadow: 1px 1px 1px #000;
    transition:1s all;

}
.enlacesNotaAdm:hover{
    text-decoration: none;
    font-size: 20px;
    color: #231942;
    text-shadow: 1px 1px 1px #fff;
    transition:1s all;

}
.cajaCirculoNotAdm{
    margin: 2% 49%;
}
.circuloNotaAdm{
    background-color: #3b17a7;
    border-radius: 50%;
    color: #fafaff;
    border: 3px groove #fafaff;
    transition:1s all;
    padding: 0% 30%;
}
.circuloNotaAdm:hover{
    color: #231942;
    border-radius: 50%;
    background-color: #9f86c0;
    border: 3px groove #5e548e;
    transition:1s all;
    padding: 0% 30%;
}
/*Como Usuario*/
.fondoNotasUs{
    background-image: url(https://images.pexels.com/photos/771322/pexels-photo-771322.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 1% 0% 26.4% 0%;
}
.contenedorNotasUs {
    margin: 0% auto;
    width: 50%;
}
.tituloNotaUs{
    text-shadow: 1px 1px 1px #000;
    color:#e0e1dd;
    text-align: center;
    margin: 3% 0%;

}
.contenidoNotaUs{
    background-color: #1b263ba0;
    text-shadow: 1px 1px 1px #000;
    padding: 2% 2%;
}
.bordeCajaEnlcUs{
    border-bottom:3px solid #e0e1dd;
    margin:2% 0%;
}
.enlacesNotaUs{
    text-decoration: none;
    font-size: 0px;
    color: #e0e1dd;
    text-shadow: 1px 1px 1px #000;
    transition:1s all;

}
.enlacesNotaUs:hover{
    text-decoration: none;
    font-size: 0px;
    color: #fafaff;
    text-shadow: 1px 1px 1px #e4d9ff; 
    transition:1s all;

}

.cajaCirculoNotUs{
    margin: 2% 49%;
}
.circuloNotaUs{
    background-color: #04052e;
    border-radius: 50%;
    color: #e4d9ff;
    border: 3px groove #e4d9ff;
    transition:1s all;
    padding: 0% 30%;
}
.circuloNotaUs:hover{
    color: #04052e;
    border-radius: 50%;
    background-color: #e4d9ff;
    border: 3px groove #04052e;
    transition:1s all;
    padding: 0% 30%;
}