/*Como Admin*/
.fondoNotasAdm {
  border-top: 5px dashed #edf2f4;
  border-bottom: 5px dashed #edf2f4;
  background: rgb(43, 45, 66);
  background: linear-gradient(
    45deg,
    rgba(43, 45, 66, 1) 0%,
    rgba(237, 242, 244, 1) 50%,
    rgba(141, 153, 174, 1) 100%
  );
  padding: 5% 0% 5% 0%;
}
.contenedorNotasAdm {
  margin: -3px auto;
  width: 40%;
}
.tituloNotaAdm {
  text-shadow: 1px 1px 1px #000;
  color: #d90429;
  text-align: center;
  margin: 3% 0%;
}
.contenidoNotaAdm {
  background-color: #d98484a8;
  color: #d90429;
  text-shadow: 1px 1px 1px #000;
  padding: 5% 4%;
  margin: 5% 0%;
}
.bordeCajaEnlcAdm {
  margin: 1% 0%;
}
.enlacesNotaAdm {
  text-decoration: none;
  font-size: 20px;
  color: #d90429;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
  background-color: #000;
  padding: 0% 4%;
}
.cajaCirculoNotAdm {
  margin: 2% 49%;
}
.circuloNotaAdm {
  background-color: #000;
  border-radius: 50%;
  color: #d90429;
  border: 3px groove #d90429;
  transition: 1s all;
  padding: 0% 30%;
}
@media screen and (max-width:380px){
  .fondoNotasAdm {
    border-top: 5px dashed #edf2f4;
    border-bottom: 5px dashed #edf2f4;
    background: rgb(43, 45, 66);
    background: linear-gradient(
      45deg,
      rgba(43, 45, 66, 1) 0%,
      rgba(237, 242, 244, 1) 50%,
      rgba(141, 153, 174, 1) 100%
    );
    padding: 5% 0% 5% 0%;
  }
  .contenedorNotasAdm {
    margin: 0px auto;
    width: 90%;
  }
  .tituloNotaAdm {
    text-shadow: 1px 1px 1px #000;
    color: #d90429;
    text-align: center;
    margin: 3% 0%;
  }
  .contenidoNotaAdm {
    background-color: #d98484a8;
    color: #d90429;
    text-shadow: 1px 1px 1px #000;
    padding: 6% 8%;
  }
  .bordeCajaEnlcAdm {
    margin: 7% 7%;
  }
  .enlacesNotaAdm {
    text-decoration: none;
    font-size: 20px;
    color: #d90429;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
    background-color: #000;
    padding: 0% 4%;
  }
  .cajaCirculoNotAdm {
    margin: 2% 49%;
  }
  .circuloNotaAdm {
    background-color: #000;
    border-radius: 50%;
    color: #d90429;
    border: 3px groove #d90429;
    transition: 1s all;
    padding: 0% 90%;
  }
}
/*Como Usuario*/
.fondoNotasUs {
  background: linear-gradient(
    45deg,
    rgba(226, 149, 120, 1) 0%,
    rgba(237, 246, 249, 1) 50%,
    rgba(0, 109, 119, 1) 100%
  );
  padding: 3% 0%;
}
.contenedorNotasUs {
  margin: 0% auto;
  width: 50%;
}
.tituloNotaUs {
  text-shadow: 1px 1px 1px #000;
  color: #fec89a;
  text-align: center;
  margin: 3% 0%;
}
.contenidoNotaUs {
  background-color: #1b263bc0;
  text-shadow: 1px 1px 1px #000;
  padding: 4% 2%;
  text-align: center;
  margin: 5% 0%;
  color: #fec89a;
}

.enlacesNotaUs {
  text-decoration: none;
  color: #fec89a;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
  background-color: #2f3e46;
  padding: 0% 3%;
}
.circuloNotaUs {
  color: #04052e;
  background-color: #e4d9ff;
  transition: 1s all;
  padding: 0% 1%;
  margin: 0% 48%;
  border: 1px solid #000;
}

.circuloNotaUs:hover {
  background-color: #04052e;
  color: #e4d9ff;
  transition: 1s all;
  padding: 0% 1%;
  margin: 0% 48%;
  border: 1px solid #000;
}

@media screen and (max-width:380px){
  /*Como Usuario*/
  .fondoNotasUs {
    background: rgb(226, 149, 120);
    background: linear-gradient(
      45deg,
      rgba(226, 149, 120, 1) 0%,
      rgba(237, 246, 249, 1) 50%,
      rgba(0, 109, 119, 1) 100%
    );
    padding: 3% 0% 3% 0%;
  }
  .contenedorNotasUs {
    padding: 4% 0%;
    text-align: center;
    margin: 0% 0% 7% 5%;
    width: 90%;
}
  .tituloNotaUs {
    text-shadow: 1px 1px 1px #000;
    color: #fec89a;
    text-align: center;
    margin: 3% 0%;
  }
  .contenidoNotaUs {
    background-color: #1b263bc0;
    text-shadow: 1px 1px 1px #000;
    padding: 4% 2%;
    text-align: center;
    margin: 10% 0%;
  }
  .textoNotaUs {
    color: #fec89a;
  }
  .enlacesNotaUs {
    text-decoration: none;
    color: #fec89a;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
    background-color: #2f3e46;
    padding: 0% 3%;
  }
  .circuloNotaUs {
    color: #04052e;
    background-color: #e4d9ff;
    transition: 1s all;
    padding: 0% 1%;
    margin: 0% 48%;
    border: 1px solid #000;
  }

  .circuloNotaUs:hover {
    background-color: #04052e;
    color: #e4d9ff;
    transition: 1s all;
    padding: 0% 1%;
    margin: 0% 48%;
    border: 1px solid #000;
  }
}
