/*Otros estilos*/
.txt-hidden {
  resize: none;
}
/*Seccion Nota*/
/*Como Admin*/
.cajaAdmNot {
  background: linear-gradient(
    45deg,
    rgba(43, 45, 66, 1) 0%,
    rgba(237, 242, 244, 1) 50%,
    rgba(141, 153, 174, 1) 100%
  );
  padding: 5% 0% 5.9% 0%;
}
.containerNotasAdm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -1.4% 0%;
}
.labelNotAdm {
  background-color: #5e548ea9;
  margin: 1% 0%;
  letter-spacing: 2px;
  color: #fafaff;
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
}
.textareaNotesAdm {
  background-color: #5e548ea9;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  padding: 0% 11% 11% 1%;
}
.inputAdm {
  background-color: #5e548ea9;
  border-bottom: 2px solid #fafaff;
  border-right: 2px solid #fafaff;
  border-left: 2px solid #231942;
  border-top: 2px solid #231942;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}

.inputAdm:focus {
  background-color: #5e548ea9;
  border: 2px groove #fafaff;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}
.inputAdm:hover {
  background-color: #5e548ea9;
  border-bottom: 2px solid #231942;
  border-right: 2px solid #231942;
  border-left: 2px solid #fafaff;
  border-top: 2px solid #fafaff;
  transition: 1s all;
}
.containerBotonesAdm {
  display: grid;
  align-items: end;
  align-content: stretch;
  justify-content: center;
  justify-items: center;
}
.botonModNotAdm {
  margin: 12% 0%;
  text-decoration: none;
  color: #fcbf49;
  background-color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #fcbf49;
  border-right: 2px solid #fcbf49;
  border-left: 2px solid #f77f00;
  border-top: 2px solid #f77f00;
  font-size: 15px;
  transition: 1s all;
}
.botonModNotAdm:hover {
  margin: 12% 0%;
  text-decoration: none;
  background-color: #fcbf49;
  color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #f77f00;
  border-right: 2px solid #f77f00;
  border-left: 2px solid #fcbf49;
  border-top: 2px solid #fcbf49;
  font-size: 15px;
  transition: 1s all;
}

.botonVolNotAdm {
  color: #fafaff;
  background-color: #231942;
  text-decoration: none;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #fafaff;
  border-right: 2px solid #fafaff;
  border-left: 2px solid #231942;
  border-top: 2px solid #231942;
  transition: 1s all;
}

.botonVolNotAdm:hover {
  background-color: #231942;
  color: #fafaff;
  text-decoration: none;
  transition: 1s all;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #231942;
  border-right: 2px solid #231942;
  border-left: 2px solid #fafaff;
  border-top: 2px solid #fafaff;
  transition: 1s all;
}
@media screen and (max-width: 380px) {
  .cajaAdmNot {
    background: linear-gradient(
      45deg,
      rgba(43, 45, 66, 1) 0%,
      rgba(237, 242, 244, 1) 50%,
      rgba(141, 153, 174, 1) 100%
    );
    padding: 34% 0% 43.1% 0%;
  }
  .containerNotasAdm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -1.4% 0%;
  }
  .labelNotAdm {
    background-color: #5e548ea9;
    margin: 1% 0%;
    letter-spacing: 2px;
    color: #fafaff;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000;
  }
  .textareaNotesAdm {
    background-color: #5e548ea9;
    color: #fafaff;
    text-shadow: 1px 1px 1px #000;
    padding: 0% 14% 13% 2%;
  }
  .inputAdm {
    background-color: #5e548ea9;
    border-bottom: 2px solid #fafaff;
    border-right: 2px solid #fafaff;
    border-left: 2px solid #231942;
    border-top: 2px solid #231942;
    color: #fafaff;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
  }

  .inputAdm:focus {
    background-color: #5e548ea9;
    border: 2px groove #fafaff;
    color: #fafaff;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
  }
  .inputAdm:hover {
    background-color: #5e548ea9;
    border-bottom: 2px solid #231942;
    border-right: 2px solid #231942;
    border-left: 2px solid #fafaff;
    border-top: 2px solid #fafaff;
    transition: 1s all;
  }
  .containerBotonesAdm {
    display: grid;
    align-items: end;
    align-content: stretch;
    justify-content: center;
    justify-items: center;
  }
  .botonModNotAdm {
    margin: 12% 0%;
    text-decoration: none;
    color: #fcbf49;
    background-color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #fcbf49;
    border-right: 2px solid #fcbf49;
    border-left: 2px solid #f77f00;
    border-top: 2px solid #f77f00;
    font-size: 15px;
    transition: 1s all;
  }
  .botonModNotAdm:hover {
    margin: 12% 0%;
    text-decoration: none;
    background-color: #fcbf49;
    color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #f77f00;
    border-right: 2px solid #f77f00;
    border-left: 2px solid #fcbf49;
    border-top: 2px solid #fcbf49;
    font-size: 15px;
    transition: 1s all;
  }

  .botonVolNotAdm {
    color: #fafaff;
    background-color: #231942;
    text-decoration: none;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #fafaff;
    border-right: 2px solid #fafaff;
    border-left: 2px solid #231942;
    border-top: 2px solid #231942;
    transition: 1s all;
  }

  .botonVolNotAdm:hover {
    background-color: #231942;
    color: #fafaff;
    text-decoration: none;
    transition: 1s all;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #231942;
    border-right: 2px solid #231942;
    border-left: 2px solid #fafaff;
    border-top: 2px solid #fafaff;
    transition: 1s all;
  }
}
/*Como Usuario*/
.cajaUsNot {
  background: rgb(226, 149, 120);
  background: linear-gradient(
    45deg,
    rgba(226, 149, 120, 1) 0%,
    rgba(237, 246, 249, 1) 50%,
    rgba(0, 109, 119, 1) 100%
  );
  padding: 10% 0% 12.7% 0%;
}
.containerNotasUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0%;
}
.labelNotUs {
  background-color: #1b263b;
  border: 1px groove #fafaff;
  padding: 0% 2%;
  margin: 1% 0%;
  letter-spacing: 2px;
  color: #e0e1dd;
  font-size: 20px;
}
.tareasUs {
  resize: none;
  background-color: #1b263ba2;
  color: #e0e1dd;
}

.inputUs {
  background-color: #1b263ba2;
  color: #e0e1dd;
  border-bottom: 2px solid #e0e1dd;
  border-right: 2px solid #e0e1dd;
  border-left: 2px solid #1b263ba2;
  border-top: 2px solid #1b263ba2;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}

.inputUs:focus {
  background-color: #1b263ba2;
  border: 2px groove #e0e1dd;
  color: #e0e1dd;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}
.inputUs:hover {
  background-color: #1b263ba2;
  border-bottom: 2px solid #1b263ba2;
  border-right: 2px solid #1b263ba2;
  border-left: 2px solid #e0e1dd;
  border-top: 2px solid #e0e1dd;
  transition: 1s all;
}
.containerBotonesUs {
  display: grid;
  align-items: end;
  align-content: stretch;
  justify-content: center;
  justify-items: center;
}
.botonModNotUs {
  margin: 12% 0%;
  text-decoration: none;
  color: #fcbf49;
  background-color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #fcbf49;
  border-right: 2px solid #fcbf49;
  border-left: 2px solid #f77f00;
  border-top: 2px solid #f77f00;
  font-size: 15px;
  transition: 1s all;
}
.botonModNotUs:hover {
  margin: 12% 0%;
  text-decoration: none;
  background-color: #fcbf49;
  color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #f77f00;
  border-right: 2px solid #f77f00;
  border-left: 2px solid #fcbf49;
  border-top: 2px solid #fcbf49;
  font-size: 15px;
  transition: 1s all;
}

.botonVolNotUs {
  color: #e0e1dd;
  background-color: #1b263b;
  text-decoration: none;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #e0e1dd;
  border-right: 2px solid #e0e1dd;
  border-left: 2px solid #1b263b;
  border-top: 2px solid #1b263b;
  transition: 1s all;
}

.botonVolNotUs:hover {
  background-color: #1b263b;
  color: #e0e1dd;
  text-decoration: none;
  transition: 1s all;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #1b263b;
  border-right: 2px solid #1b263b;
  border-left: 2px solid #e0e1dd;
  border-top: 2px solid #e0e1dd;
  transition: 1s all;
}
@media screen and (max-width: 380px) {
  .cajaUsNot {
    background: rgb(226, 149, 120);
    background: linear-gradient(
      45deg,
      rgba(226, 149, 120, 1) 0%,
      rgba(237, 246, 249, 1) 50%,
      rgba(0, 109, 119, 1) 100%
    );
    padding: 40% 0% 63.4% 0%;
  }
  .containerNotasUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0%;
  }
  .labelNotUs {
    background-color: #1b263b;
    border: 1px groove #fafaff;
    padding: 0% 2%;
    margin: 1% 0%;
    letter-spacing: 2px;
    color: #e0e1dd;
    font-size: 20px;
  }
  .tareasUs {
    resize: none;
    background-color: #1b263ba2;
    color: #e0e1dd;
  }

  .inputUs {
    background-color: #1b263ba2;
    color: #e0e1dd;
    border-bottom: 2px solid #e0e1dd;
    border-right: 2px solid #e0e1dd;
    border-left: 2px solid #1b263ba2;
    border-top: 2px solid #1b263ba2;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
  }

  .inputUs:focus {
    background-color: #1b263ba2;
    border: 2px groove #e0e1dd;
    color: #e0e1dd;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
  }
  .inputUs:hover {
    background-color: #1b263ba2;
    border-bottom: 2px solid #1b263ba2;
    border-right: 2px solid #1b263ba2;
    border-left: 2px solid #e0e1dd;
    border-top: 2px solid #e0e1dd;
    transition: 1s all;
  }
  .containerBotonesUs {
    display: grid;
    align-items: end;
    align-content: stretch;
    justify-content: center;
    justify-items: center;
  }
  .botonModNotUs {
    margin: 12% 0%;
    text-decoration: none;
    color: #fcbf49;
    background-color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #fcbf49;
    border-right: 2px solid #fcbf49;
    border-left: 2px solid #f77f00;
    border-top: 2px solid #f77f00;
    font-size: 15px;
    transition: 1s all;
  }
  .botonModNotUs:hover {
    margin: 12% 0%;
    text-decoration: none;
    background-color: #fcbf49;
    color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #f77f00;
    border-right: 2px solid #f77f00;
    border-left: 2px solid #fcbf49;
    border-top: 2px solid #fcbf49;
    font-size: 15px;
    transition: 1s all;
  }

  .botonVolNotUs {
    color: #e0e1dd;
    background-color: #1b263b;
    text-decoration: none;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #e0e1dd;
    border-right: 2px solid #e0e1dd;
    border-left: 2px solid #1b263b;
    border-top: 2px solid #1b263b;
    transition: 1s all;
  }

  .botonVolNotUs:hover {
    background-color: #1b263b;
    color: #e0e1dd;
    text-decoration: none;
    transition: 1s all;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #1b263b;
    border-right: 2px solid #1b263b;
    border-left: 2px solid #e0e1dd;
    border-top: 2px solid #e0e1dd;
    transition: 1s all;
  }
}
/*Seccion Alarma*/
/*Como Admin*/
.cajaAdmAlm {
  background: rgb(43, 45, 66);
  background: linear-gradient(
    45deg,
    rgba(43, 45, 66, 1) 0%,
    rgba(237, 242, 244, 1) 50%,
    rgba(141, 153, 174, 1) 100%
  );
  padding: 10% 0% 12.5% 0%;
}
.containerAlmAdm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -2% 0%;
}
.labelAlmAdm {
  background-color: #5e548ea9;
  margin: 1% 0%;
  letter-spacing: 2px;
  color: #fafaff;
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
}
.tareasAdm {
  resize: none;
}

.inputAdm {
  background-color: #5e548ea9;
  border-bottom: 2px solid #fafaff;
  border-right: 2px solid #fafaff;
  border-left: 2px solid #231942;
  border-top: 2px solid #231942;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}

.inputAdm:focus {
  background-color: #5e548ea9;
  border: 2px groove #fafaff;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}
.containerBotonesAdm {
  display: grid;
  align-items: end;
  align-content: stretch;
  justify-content: center;
  justify-items: center;
}
.botonModAlmAdm {
  margin: 12% 0%;
  text-decoration: none;
  color: #fcbf49;
  background-color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #fcbf49;
  border-right: 2px solid #fcbf49;
  border-left: 2px solid #f77f00;
  border-top: 2px solid #f77f00;
  font-size: 15px;
  transition: 1s all;
}
.botonModAlmAdm:hover {
  margin: 12% 0%;
  text-decoration: none;
  background-color: #fcbf49;
  color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #f77f00;
  border-right: 2px solid #f77f00;
  border-left: 2px solid #fcbf49;
  border-top: 2px solid #fcbf49;
  font-size: 15px;
  transition: 1s all;
}

.botonVolAlmAdm {
  color: #fafaff;
  background-color: #231942;
  text-decoration: none;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #fafaff;
  border-right: 2px solid #fafaff;
  border-left: 2px solid #231942;
  border-top: 2px solid #231942;
  transition: 1s all;
}

.botonVolAlmAdm:hover {
  background-color: #231942;
  color: #fafaff;
  text-decoration: none;
  transition: 1s all;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #231942;
  border-right: 2px solid #231942;
  border-left: 2px solid #fafaff;
  border-top: 2px solid #fafaff;
  transition: 1s all;
}
@media screen and (max-width: 380px) {
  .cajaAdmAlm {
    background: linear-gradient(
      45deg,
      rgba(43, 45, 66, 1) 0%,
      rgba(237, 242, 244, 1) 50%,
      rgba(141, 153, 174, 1) 100%
    );
    padding: 41% 0% 42.5% 0%;
  }
  .containerAlmAdm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -2% 0%;
  }
  .labelAlmAdm {
    background-color: #5e548ea9;
    margin: 1% 0%;
    letter-spacing: 2px;
    color: #fafaff;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000;
  }
  .tareasAdm {
    resize: none;
  }

  .inputAdm {
    background-color: #5e548ea9;
    border-bottom: 2px solid #fafaff;
    border-right: 2px solid #fafaff;
    border-left: 2px solid #231942;
    border-top: 2px solid #231942;
    color: #fafaff;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
    margin: 3% 0%;
  }
  .inputAdm:focus {
    background-color: #5e548ea9;
    border: 2px groove #fafaff;
    color: #fafaff;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
  }
  .containerBotonesAdm {
    display: grid;
    align-items: end;
    align-content: stretch;
    justify-content: center;
    justify-items: center;
  }
  .botonModAlmAdm {
    margin: 12% 0%;
    text-decoration: none;
    color: #fcbf49;
    background-color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #fcbf49;
    border-right: 2px solid #fcbf49;
    border-left: 2px solid #f77f00;
    border-top: 2px solid #f77f00;
    font-size: 15px;
    transition: 1s all;
  }
  .botonModAlmAdm:hover {
    margin: 12% 0%;
    text-decoration: none;
    background-color: #fcbf49;
    color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #f77f00;
    border-right: 2px solid #f77f00;
    border-left: 2px solid #fcbf49;
    border-top: 2px solid #fcbf49;
    font-size: 15px;
    transition: 1s all;
  }

  .botonVolAlmAdm {
    color: #fafaff;
    background-color: #231942;
    text-decoration: none;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #fafaff;
    border-right: 2px solid #fafaff;
    border-left: 2px solid #231942;
    border-top: 2px solid #231942;
    transition: 1s all;
  }

  .botonVolAlmAdm:hover {
    background-color: #231942;
    color: #fafaff;
    text-decoration: none;
    transition: 1s all;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #231942;
    border-right: 2px solid #231942;
    border-left: 2px solid #fafaff;
    border-top: 2px solid #fafaff;
    transition: 1s all;
  }
}
/*Como Usuario*/
.cajaUsAlm {
  background: linear-gradient(
    45deg,
    rgba(226, 149, 120, 1) 0%,
    rgba(237, 246, 249, 1) 50%,
    rgba(0, 109, 119, 1) 100%
  );
  padding: 6.9% 0% 14.3% 0%;
}

.containerAlmUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -2% 0%;
}
.labelAlmUs {
  background-color: #1b263b;
  border: 1px groove #fafaff;
  padding: 0% 2%;
  margin: 1% 0%;
  letter-spacing: 2px;
  color: #e0e1dd;
  font-size: 20px;
}
.tareasUs {
  resize: none;
}

.inputUs {
  background-color: #1b263ba2;
  color: #e0e1dd;
  border-bottom: 2px solid #e0e1dd;
  border-right: 2px solid #e0e1dd;
  border-left: 2px solid #1b263ba2;
  border-top: 2px solid #1b263ba2;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}

.inputUs:focus {
  background-color: #1b263ba2;
  border: 2px groove #e0e1dd;
  color: #e0e1dd;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}
.inputUs:hover {
  background-color: #1b263ba2;
  border-bottom: 2px solid #1b263ba2;
  border-right: 2px solid #1b263ba2;
  border-left: 2px solid #e0e1dd;
  border-top: 2px solid #e0e1dd;
  transition: 1s all;
}
.containerBotonesUs {
  display: grid;
  align-items: end;
  align-content: stretch;
  justify-content: center;
  justify-items: center;
}
.botonModAlmUs {
  margin: 12% 0%;
  text-decoration: none;
  color: #fcbf49;
  background-color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #fcbf49;
  border-right: 2px solid #fcbf49;
  border-left: 2px solid #f77f00;
  border-top: 2px solid #f77f00;
  font-size: 15px;
  transition: 1s all;
}
.botonModAlmUs:hover {
  margin: 12% 0%;
  text-decoration: none;
  background-color: #fcbf49;
  color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #f77f00;
  border-right: 2px solid #f77f00;
  border-left: 2px solid #fcbf49;
  border-top: 2px solid #fcbf49;
  font-size: 15px;
  transition: 1s all;
}

.botonVolAlmUs {
  color: #e0e1dd;
  background-color: #1b263b;
  text-decoration: none;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #e0e1dd;
  border-right: 2px solid #e0e1dd;
  border-left: 2px solid #1b263b;
  border-top: 2px solid #1b263b;
  transition: 1s all;
}

.botonVolAlmUs:hover {
  background-color: #1b263b;
  color: #e0e1dd;
  text-decoration: none;
  transition: 1s all;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #1b263b;
  border-right: 2px solid #1b263b;
  border-left: 2px solid #e0e1dd;
  border-top: 2px solid #e0e1dd;
  transition: 1s all;
}
@media screen and (max-width: 380px) {
  .cajaUsAlm {
    background: linear-gradient(
      45deg,
      rgba(226, 149, 120, 1) 0%,
      rgba(237, 246, 249, 1) 50%,
      rgba(0, 109, 119, 1) 100%
    );
    padding: 37% 0% 61.3% 0%;
  }
  .containerAlmUs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .labelAlmUs {
    background-color: #1b263b;
    border: 1px groove #fafaff;
    padding: 0% 2%;
    margin: 5% 0%;
    letter-spacing: 2px;
    color: #e0e1dd;
    font-size: 20px;
  }
  .tareasUs {
    resize: none;
  }

  .inputUs {
    background-color: #1b263ba2;
    color: #e0e1dd;
    border-bottom: 2px solid #e0e1dd;
    border-right: 2px solid #e0e1dd;
    border-left: 2px solid #1b263ba2;
    border-top: 2px solid #1b263ba2;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
  }

  .inputUs:focus {
    background-color: #1b263ba2;
    border: 2px groove #e0e1dd;
    color: #e0e1dd;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
  }
  .inputUs:hover {
    background-color: #1b263ba2;
    border-bottom: 2px solid #1b263ba2;
    border-right: 2px solid #1b263ba2;
    border-left: 2px solid #e0e1dd;
    border-top: 2px solid #e0e1dd;
    transition: 1s all;
  }
  .containerBotonesUs {
    display: grid;
    align-items: end;
    align-content: stretch;
    justify-content: center;
    justify-items: center;
  }
  .botonModAlmUs {
    margin: 12% 0%;
    text-decoration: none;
    color: #fcbf49;
    background-color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #fcbf49;
    border-right: 2px solid #fcbf49;
    border-left: 2px solid #f77f00;
    border-top: 2px solid #f77f00;
    font-size: 15px;
    transition: 1s all;
  }
  .botonModAlmUs:hover {
    margin: 12% 0%;
    text-decoration: none;
    background-color: #fcbf49;
    color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #f77f00;
    border-right: 2px solid #f77f00;
    border-left: 2px solid #fcbf49;
    border-top: 2px solid #fcbf49;
    font-size: 15px;
    transition: 1s all;
  }

  .botonVolAlmUs {
    color: #e0e1dd;
    background-color: #1b263b;
    text-decoration: none;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #e0e1dd;
    border-right: 2px solid #e0e1dd;
    border-left: 2px solid #1b263b;
    border-top: 2px solid #1b263b;
    transition: 1s all;
  }

  .botonVolAlmUs:hover {
    background-color: #1b263b;
    color: #e0e1dd;
    text-decoration: none;
    transition: 1s all;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #1b263b;
    border-right: 2px solid #1b263b;
    border-left: 2px solid #e0e1dd;
    border-top: 2px solid #e0e1dd;
    transition: 1s all;
  }
}
/*Seccion Calendars*/
/*Como Admin*/
.cajaAdmCa {
  background: linear-gradient(
    45deg,
    rgba(43, 45, 66, 1) 0%,
    rgba(237, 242, 244, 1) 50%,
    rgba(141, 153, 174, 1) 100%
  );
  padding: 3.3% 0% 10.4% 0%;
}
.containerCalAdm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -2% 0%;
}
.labelCalAdm {
  background-color: #5e548ea9;
  margin: 1% 0%;
  letter-spacing: 2px;
  color: #fafaff;
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
}
.txtCaAdm {
  background-color: #5e548ea9;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  margin: 1% 0%;
  padding: 0% 4% 7% 1%;
  width: 50%;
  overflow: hidden;
}
.tareasAdm {
  resize: none;
}

.inputAdm {
  background-color: #5e548ea9;
  border-bottom: 2px solid #fafaff;
  border-right: 2px solid #fafaff;
  border-left: 2px solid #231942;
  border-top: 2px solid #231942;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}

.inputAdm:focus {
  background-color: #5e548ea9;
  border: 2px groove #fafaff;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}
.inputAdm:hover {
  background-color: #5e548ea9;
  border-bottom: 2px solid #231942;
  border-right: 2px solid #231942;
  border-left: 2px solid #fafaff;
  border-top: 2px solid #fafaff;
  transition: 1s all;
}
.containerBotonesAdm {
  display: grid;
  align-items: end;
  align-content: stretch;
  justify-content: center;
  justify-items: center;
}
.botonModCalAdm {
  margin: 12% 0%;
  text-decoration: none;
  color: #fcbf49;
  background-color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #fcbf49;
  border-right: 2px solid #fcbf49;
  border-left: 2px solid #f77f00;
  border-top: 2px solid #f77f00;
  font-size: 15px;
  transition: 1s all;
}
.botonModCalAdm:hover {
  margin: 12% 0%;
  text-decoration: none;
  background-color: #fcbf49;
  color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #f77f00;
  border-right: 2px solid #f77f00;
  border-left: 2px solid #fcbf49;
  border-top: 2px solid #fcbf49;
  font-size: 15px;
  transition: 1s all;
}
.botonVolCalAdm {
  color: #fafaff;
  background-color: #231942;
  text-decoration: none;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #fafaff;
  border-right: 2px solid #fafaff;
  border-left: 2px solid #231942;
  border-top: 2px solid #231942;
  transition: 1s all;
}

.botonVolCalAdm:hover {
  background-color: #231942;
  color: #fafaff;
  text-decoration: none;
  transition: 1s all;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #231942;
  border-right: 2px solid #231942;
  border-left: 2px solid #fafaff;
  border-top: 2px solid #fafaff;
  transition: 1s all;
}
@media screen and (max-width: 380px) {
  .cajaAdmCa {
    background: linear-gradient(
      45deg,
      rgba(43, 45, 66, 1) 0%,
      rgba(237, 242, 244, 1) 50%,
      rgba(141, 153, 174, 1) 100%
    );
    padding: 20% 0% 22.1% 0%;
  }
  .containerCalAdm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -2% 0%;
  }
  .labelCalAdm {
    background-color: #5e548ea9;
    margin: 5% 0%;
    letter-spacing: 2px;
    color: #fafaff;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000;
  }
  .txtCaAdm {
    background-color: #5e548ea9;
    color: #fafaff;
    text-shadow: 1px 1px 1px #000;
    margin: 1% 0%;
    padding: 0% 4% 30% 1%;
    width: 90%;
    overflow: hidden;
  }
  .tareasAdm {
    resize: none;
  }

  .inputAdm {
    background-color: #5e548ea9;
    border-bottom: 2px solid #fafaff;
    border-right: 2px solid #fafaff;
    border-left: 2px solid #231942;
    border-top: 2px solid #231942;
    color: #fafaff;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
  }

  .inputAdm:focus {
    background-color: #5e548ea9;
    border: 2px groove #fafaff;
    color: #fafaff;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
  }
  .inputAdm:hover {
    background-color: #5e548ea9;
    border-bottom: 2px solid #231942;
    border-right: 2px solid #231942;
    border-left: 2px solid #fafaff;
    border-top: 2px solid #fafaff;
    transition: 1s all;
  }
  .containerBotonesAdm {
    display: grid;
    align-items: end;
    align-content: stretch;
    justify-content: center;
    justify-items: center;
  }
  .botonModCalAdm {
    margin: 12% 0%;
    text-decoration: none;
    color: #fcbf49;
    background-color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #fcbf49;
    border-right: 2px solid #fcbf49;
    border-left: 2px solid #f77f00;
    border-top: 2px solid #f77f00;
    font-size: 15px;
    transition: 1s all;
  }
  .botonModCalAdm:hover {
    margin: 12% 0%;
    text-decoration: none;
    background-color: #fcbf49;
    color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #f77f00;
    border-right: 2px solid #f77f00;
    border-left: 2px solid #fcbf49;
    border-top: 2px solid #fcbf49;
    font-size: 15px;
    transition: 1s all;
  }
  .botonVolCalAdm {
    color: #fafaff;
    background-color: #231942;
    text-decoration: none;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #fafaff;
    border-right: 2px solid #fafaff;
    border-left: 2px solid #231942;
    border-top: 2px solid #231942;
    transition: 1s all;
  }

  .botonVolCalAdm:hover {
    background-color: #231942;
    color: #fafaff;
    text-decoration: none;
    transition: 1s all;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #231942;
    border-right: 2px solid #231942;
    border-left: 2px solid #fafaff;
    border-top: 2px solid #fafaff;
    transition: 1s all;
  }
}
/*Como Usuario*/
.cajaUsCal {
  background: rgb(226, 149, 120);
  background: linear-gradient(
    45deg,
    rgba(226, 149, 120, 1) 0%,
    rgba(237, 246, 249, 1) 50%,
    rgba(0, 109, 119, 1) 100%
  );
  padding: 8% 0% 13.3% 0%;
}
.containerCalUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -2% 0%;
}
.labelCalUs {
  background-color: #1b263b;
  border: 1px groove #fafaff;
  padding: 0% 2%;
  margin: 1% 0%;
  letter-spacing: 2px;
  color: #e0e1dd;
  font-size: 20px;
}
.tareasUs {
  resize: none;
}

.inputUs {
  background-color: #1b263ba2;
  color: #e0e1dd;
  border-bottom: 2px solid #e0e1dd;
  border-right: 2px solid #e0e1dd;
  border-left: 2px solid #1b263ba2;
  border-top: 2px solid #1b263ba2;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}

.inputUs:focus {
  background-color: #1b263ba2;
  border: 2px groove #e0e1dd;
  color: #e0e1dd;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}
.inputUs:hover {
  background-color: #1b263ba2;
  border-bottom: 2px solid #1b263ba2;
  border-right: 2px solid #1b263ba2;
  border-left: 2px solid #e0e1dd;
  border-top: 2px solid #e0e1dd;
  transition: 1s all;
}
.containerBotonesUs {
  display: grid;
  align-items: end;
  align-content: stretch;
  justify-content: center;
  justify-items: center;
}
.botonModCalUs {
  margin: 12% 0%;
  text-decoration: none;
  color: #fcbf49;
  background-color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #fcbf49;
  border-right: 2px solid #fcbf49;
  border-left: 2px solid #f77f00;
  border-top: 2px solid #f77f00;
  font-size: 15px;
  transition: 1s all;
}
.botonModCalUs:hover {
  margin: 12% 0%;
  text-decoration: none;
  background-color: #fcbf49;
  color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #f77f00;
  border-right: 2px solid #f77f00;
  border-left: 2px solid #fcbf49;
  border-top: 2px solid #fcbf49;
  font-size: 15px;
  transition: 1s all;
}

.botonVolCalUs {
  color: #e0e1dd;
  background-color: #1b263b;
  text-decoration: none;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #e0e1dd;
  border-right: 2px solid #e0e1dd;
  border-left: 2px solid #1b263b;
  border-top: 2px solid #1b263b;
  transition: 1s all;
}

.botonVolCalUs:hover {
  background-color: #1b263b;
  color: #e0e1dd;
  text-decoration: none;
  transition: 1s all;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #1b263b;
  border-right: 2px solid #1b263b;
  border-left: 2px solid #e0e1dd;
  border-top: 2px solid #e0e1dd;
  transition: 1s all;
}
@media screen and (max-width: 380px) {
  .cajaUsCal {
    background: rgb(226, 149, 120);
    background: linear-gradient(
      45deg,
      rgba(226, 149, 120, 1) 0%,
      rgba(237, 246, 249, 1) 50%,
      rgba(0, 109, 119, 1) 100%
    );
    padding: 30% 0% 52.9% 0%;
  }
  .containerCalUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -2% 0%;
  }
  .labelCalUs {
    background-color: #1b263b;
    border: 1px groove #fafaff;
    padding: 0% 2%;
    margin: 5% 0%;
    letter-spacing: 2px;
    color: #e0e1dd;
    font-size: 20px;
  }
  .tareasUs {
    resize: none;
  }

  .inputUs {
    background-color: #1b263ba2;
    color: #e0e1dd;
    border-bottom: 2px solid #e0e1dd;
    border-right: 2px solid #e0e1dd;
    border-left: 2px solid #1b263ba2;
    border-top: 2px solid #1b263ba2;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
  }

  .inputUs:focus {
    background-color: #1b263ba2;
    border: 2px groove #e0e1dd;
    color: #e0e1dd;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
  }
  .inputUs:hover {
    background-color: #1b263ba2;
    border-bottom: 2px solid #1b263ba2;
    border-right: 2px solid #1b263ba2;
    border-left: 2px solid #e0e1dd;
    border-top: 2px solid #e0e1dd;
    transition: 1s all;
  }
  .containerBotonesUs {
    display: grid;
    align-items: end;
    align-content: stretch;
    justify-content: center;
    justify-items: center;
  }
  .botonModCalUs {
    margin: 12% 0%;
    text-decoration: none;
    color: #fcbf49;
    background-color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #fcbf49;
    border-right: 2px solid #fcbf49;
    border-left: 2px solid #f77f00;
    border-top: 2px solid #f77f00;
    font-size: 15px;
    transition: 1s all;
  }
  .botonModCalUs:hover {
    margin: 12% 0%;
    text-decoration: none;
    background-color: #fcbf49;
    color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #f77f00;
    border-right: 2px solid #f77f00;
    border-left: 2px solid #fcbf49;
    border-top: 2px solid #fcbf49;
    font-size: 15px;
    transition: 1s all;
  }

  .botonVolCalUs {
    color: #e0e1dd;
    background-color: #1b263b;
    text-decoration: none;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #e0e1dd;
    border-right: 2px solid #e0e1dd;
    border-left: 2px solid #1b263b;
    border-top: 2px solid #1b263b;
    transition: 1s all;
  }

  .botonVolCalUs:hover {
    background-color: #1b263b;
    color: #e0e1dd;
    text-decoration: none;
    transition: 1s all;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #1b263b;
    border-right: 2px solid #1b263b;
    border-left: 2px solid #e0e1dd;
    border-top: 2px solid #e0e1dd;
    transition: 1s all;
  }
}
/*Seccion Planificador*/
/*Como Admin*/
.cajaAdmPl {
  background: linear-gradient(
    45deg,
    rgba(43, 45, 66, 1) 0%,
    rgba(237, 242, 244, 1) 50%,
    rgba(141, 153, 174, 1) 100%
  );
  padding: 7% 0% 7.4% 0%;
}
.containerPlAdm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -2% 0%;
}
.labelPlAdm {
  background-color: #5e548ea9;
  margin: 1% 0%;
  letter-spacing: 2px;
  color: #fafaff;
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
}
.txtPlnAdm {
  background-color: #5e548ea9;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  margin: 1% 0%;
  padding: 0% 4% 7% 1%;
  width: 50%;
  overflow: hidden;
}
.inputPlAdm {
  background-color: #5e548ea9;
  border-bottom: 2px solid #fafaff;
  border-right: 2px solid #fafaff;
  border-left: 2px solid #231942;
  border-top: 2px solid #231942;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}

.inputPlAdm:focus {
  background-color: #5e548ea9;
  border: 2px groove #fafaff;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}
.inputPlAdm:hover {
  background-color: #5e548ea9;
  border-bottom: 2px solid #231942;
  border-right: 2px solid #231942;
  border-left: 2px solid #fafaff;
  border-top: 2px solid #fafaff;
  transition: 1s all;
}
.containerBotonesAdm {
  display: grid;
  align-items: end;
  align-content: stretch;
  justify-content: center;
  justify-items: center;
}
.botonModPlnAdm {
  margin: 12% 0%;
  text-decoration: none;
  color: #fcbf49;
  background-color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #fcbf49;
  border-right: 2px solid #fcbf49;
  border-left: 2px solid #f77f00;
  border-top: 2px solid #f77f00;
  font-size: 15px;
  transition: 1s all;
}
.botonModPlnAdm:hover {
  margin: 12% 0%;
  text-decoration: none;
  background-color: #fcbf49;
  color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #f77f00;
  border-right: 2px solid #f77f00;
  border-left: 2px solid #fcbf49;
  border-top: 2px solid #fcbf49;
  font-size: 15px;
  transition: 1s all;
}

.botonVolPlAdm {
  color: #fafaff;
  background-color: #231942;
  text-decoration: none;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #fafaff;
  border-right: 2px solid #fafaff;
  border-left: 2px solid #231942;
  border-top: 2px solid #231942;
  transition: 1s all;
}

.botonVolPlAdm:hover {
  background-color: #231942;
  color: #fafaff;
  text-decoration: none;
  transition: 1s all;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #231942;
  border-right: 2px solid #231942;
  border-left: 2px solid #fafaff;
  border-top: 2px solid #fafaff;
  transition: 1s all;
}
@media screen and (max-width: 380px) {
  .cajaAdmPl {
    background: rgb(43, 45, 66);
    background: linear-gradient(
      45deg,
      rgba(43, 45, 66, 1) 0%,
      rgba(237, 242, 244, 1) 50%,
      rgba(141, 153, 174, 1) 100%
    );
    padding: 8.2% 0% 34.4% 0%;
  }
  .containerPlAdm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 0%;
  }
  .labelPlAdm {
    background-color: #5e548ea9;
    margin: 1% 0%;
    letter-spacing: 2px;
    color: #fafaff;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000;
  }
  .txtPlnAdm {
    background-color: #5e548ea9;
    color: #fafaff;
    text-shadow: 1px 1px 1px #000;
    margin: 1% 0%;
    padding: 0% 0% 40% 0%;
    width: 90%;
  }
  .inputPlAdm {
    background-color: #5e548ea9;
    border-bottom: 2px solid #fafaff;
    border-right: 2px solid #fafaff;
    border-left: 2px solid #231942;
    border-top: 2px solid #231942;
    color: #fafaff;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
    margin: 1% 0%;
  }

  .inputPlAdm:focus {
    background-color: #5e548ea9;
    border: 2px groove #fafaff;
    color: #fafaff;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
  }
  .containerBotonesAdm {
    display: grid;
    align-items: end;
    align-content: stretch;
    justify-content: center;
    justify-items: center;
  }
  .botonModCalAdm {
    margin: 12% 0%;
    text-decoration: none;
    color: #fcbf49;
    background-color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #fcbf49;
    border-right: 2px solid #fcbf49;
    border-left: 2px solid #f77f00;
    border-top: 2px solid #f77f00;
    font-size: 15px;
    transition: 1s all;
  }
  .botonModCalAdm:hover {
    margin: 12% 0%;
    text-decoration: none;
    background-color: #fcbf49;
    color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #f77f00;
    border-right: 2px solid #f77f00;
    border-left: 2px solid #fcbf49;
    border-top: 2px solid #fcbf49;
    font-size: 15px;
    transition: 1s all;
  }

  .botonVolPlAdm {
    color: #fafaff;
    background-color: #231942;
    text-decoration: none;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #fafaff;
    border-right: 2px solid #fafaff;
    border-left: 2px solid #231942;
    border-top: 2px solid #231942;
    transition: 1s all;
  }

  .botonVolPlAdm:hover {
    background-color: #231942;
    color: #fafaff;
    text-decoration: none;
    transition: 1s all;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #231942;
    border-right: 2px solid #231942;
    border-left: 2px solid #fafaff;
    border-top: 2px solid #fafaff;
    transition: 1s all;
  }
}
/*Como Usuario*/
.cajaUsPl {
  background: rgb(226, 149, 120);
  background: linear-gradient(
    45deg,
    rgba(226, 149, 120, 1) 0%,
    rgba(237, 246, 249, 1) 50%,
    rgba(0, 109, 119, 1) 100%
  );
  padding: 5% 0%;
}
.containerPlUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -2% 0%;
}
.labelPlUs {
  background-color: #1b263b;
  border: 1px groove #fafaff;
  padding: 0% 2%;
  margin: 1% 0%;
  letter-spacing: 2px;
  color: #e0e1dd;
  font-size: 20px;
}
.textareaPlnUs {
  margin: 1% 0%;
  padding: 0% 0% 12% 0%;
  width: 80%;
  background-color: #1b263ba2;
  color: #e0e1dd;
  text-shadow: 1px 1px 1px #000;
}
.inputPlUs {
  background-color: #1b263ba2;
  color: #e0e1dd;
  border-bottom: 2px solid #e0e1dd;
  border-right: 2px solid #e0e1dd;
  border-left: 2px solid #1b263ba2;
  border-top: 2px solid #1b263ba2;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}

.inputPlUs:focus {
  background-color: #1b263ba2;
  border: 2px groove #e0e1dd;
  color: #e0e1dd;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}
.inputPlUs:hover {
  background-color: #1b263ba2;
  border-bottom: 2px solid #1b263ba2;
  border-right: 2px solid #1b263ba2;
  border-left: 2px solid #e0e1dd;
  border-top: 2px solid #e0e1dd;
  transition: 1s all;
}
.containerBotonesUsPl {
  display: grid;
  align-items: end;
  align-content: stretch;
  justify-content: center;
  justify-items: center;
}
.botonModPlUs {
  margin: 12% 0%;
  text-decoration: none;
  color: #fcbf49;
  background-color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #fcbf49;
  border-right: 2px solid #fcbf49;
  border-left: 2px solid #f77f00;
  border-top: 2px solid #f77f00;
  font-size: 15px;
  transition: 1s all;
}
.botonModPlUs:hover {
  margin: 12% 0%;
  text-decoration: none;
  background-color: #fcbf49;
  color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #f77f00;
  border-right: 2px solid #f77f00;
  border-left: 2px solid #fcbf49;
  border-top: 2px solid #fcbf49;
  font-size: 15px;
  transition: 1s all;
}

.botonVolPlUs {
  color: #e0e1dd;
  background-color: #1b263b;
  text-decoration: none;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #e0e1dd;
  border-right: 2px solid #e0e1dd;
  border-left: 2px solid #1b263b;
  border-top: 2px solid #1b263b;
  transition: 1s all;
}

.botonVolPlUs:hover {
  background-color: #1b263b;
  color: #e0e1dd;
  text-decoration: none;
  transition: 1s all;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #1b263b;
  border-right: 2px solid #1b263b;
  border-left: 2px solid #e0e1dd;
  border-top: 2px solid #e0e1dd;
  transition: 1s all;
}
@media screen and (max-width: 380px) {
  .cajaUsPl {
    background: linear-gradient(
      45deg,
      rgba(226, 149, 120, 1) 0%,
      rgba(237, 246, 249, 1) 50%,
      rgba(0, 109, 119, 1) 100%
    );
    padding: 11% 0% 46.2% 0%;
  }
  .containerPlUs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .labelPlUs {
    background-color: #1b263b;
    border: 1px groove #fafaff;
    padding: 0% 2%;
    margin: 1% 0%;
    letter-spacing: 2px;
    color: #e0e1dd;
    font-size: 20px;
  }
  .textareaPlnUs {
    margin: 5% 0%;
    padding: 0% 0% 30% 0%;
    width: 80%;
    background-color: #1b263ba2;
    color: #e0e1dd;
    text-shadow: 1px 1px 1px #000;
  }
  .inputPlUs {
    background-color: #1b263ba2;
    color: #e0e1dd;
    border-bottom: 2px solid #e0e1dd;
    border-right: 2px solid #e0e1dd;
    border-left: 2px solid #1b263ba2;
    border-top: 2px solid #1b263ba2;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
    margin: 5% 0%;
  }

  .inputPlUs:focus {
    background-color: #1b263ba2;
    border: 2px groove #e0e1dd;
    color: #e0e1dd;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
    margin: 5% 0%;
  }
  .inputPlUs:hover {
    background-color: #1b263ba2;
    border-bottom: 2px solid #1b263ba2;
    border-right: 2px solid #1b263ba2;
    border-left: 2px solid #e0e1dd;
    border-top: 2px solid #e0e1dd;
    transition: 1s all;
    margin: 5% 0%;
  }
  .containerBotonesUsPl {
    display: grid;
    align-items: end;
    align-content: stretch;
    justify-content: center;
    justify-items: center;
  }
  .botonModPlUs {
    margin: 12% 0%;
    text-decoration: none;
    color: #fcbf49;
    background-color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #fcbf49;
    border-right: 2px solid #fcbf49;
    border-left: 2px solid #f77f00;
    border-top: 2px solid #f77f00;
    font-size: 15px;
    transition: 1s all;
  }
  .botonModPlUs:hover {
    margin: 12% 0%;
    text-decoration: none;
    background-color: #fcbf49;
    color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: -1% 48%;
    border-bottom: 2px solid #f77f00;
    border-right: 2px solid #f77f00;
    border-left: 2px solid #fcbf49;
    border-top: 2px solid #fcbf49;
    font-size: 15px;
    transition: 1s all;
  }

  .botonVolPlUs {
    color: #e0e1dd;
    background-color: #1b263b;
    text-decoration: none;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #e0e1dd;
    border-right: 2px solid #e0e1dd;
    border-left: 2px solid #1b263b;
    border-top: 2px solid #1b263b;
    transition: 1s all;
  }

  .botonVolPlUs:hover {
    background-color: #1b263b;
    color: #e0e1dd;
    text-decoration: none;
    transition: 1s all;
    padding: 0% 3%;
    border-radius: 1%;
    border-bottom: 2px solid #1b263b;
    border-right: 2px solid #1b263b;
    border-left: 2px solid #e0e1dd;
    border-top: 2px solid #e0e1dd;
    transition: 1s all;
  }
}
/*Seccion Usuario*/
/*Como Admin*/
.cajaAdmMody {
  background-image: url("https://images.pexels.com/photos/4585185/pexels-photo-4585185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 3% 0% 21.2% 0%;
}
.containerModyAdm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -2% 0%;
}
.labelModyAdm {
  background-color: #5e548ea9;
  margin: 1% 0%;
  letter-spacing: 2px;
  color: #fafaff;
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
}
.WModAdm {
  width: 25%;
  padding: 0.2% 1%;
}
.inputModyAdm {
  background-color: #5e548ea9;
  border-bottom: 2px solid #fafaff;
  border-right: 2px solid #fafaff;
  border-left: 2px solid #231942;
  border-top: 2px solid #231942;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}

.inputModyAdm:focus {
  background-color: #5e548ea9;
  border: 2px groove #fafaff;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}
.inputModyAdm:hover {
  background-color: #5e548ea9;
  border-bottom: 2px solid #231942;
  border-right: 2px solid #231942;
  border-left: 2px solid #fafaff;
  border-top: 2px solid #fafaff;
  transition: 1s all;
}
.containerBtnModyAdm {
  display: grid;
  align-items: end;
  align-content: stretch;
  justify-content: center;
  justify-items: center;
}
.botonModModyAdm {
  margin: 12% 0%;
  text-decoration: none;
  color: #fcbf49;
  background-color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #fcbf49;
  border-right: 2px solid #fcbf49;
  border-left: 2px solid #f77f00;
  border-top: 2px solid #f77f00;
  font-size: 15px;
  transition: 1s all;
}
.botonModModyAdm:hover {
  margin: 12% 0%;
  text-decoration: none;
  background-color: #fcbf49;
  color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #f77f00;
  border-right: 2px solid #f77f00;
  border-left: 2px solid #fcbf49;
  border-top: 2px solid #fcbf49;
  font-size: 15px;
  transition: 1s all;
}

.botonVolModyAdm {
  color: #fafaff;
  background-color: #5e548e;
  text-decoration: none;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #fafaff;
  border-right: 2px solid #fafaff;
  border-left: 2px solid #5e548e;
  border-top: 2px solid #5e548e;
  transition: 1s all;
  text-shadow: 1px 1px 1px #000;
}

.botonVolModyAdm:hover {
  background-color: #5e548e;
  color: #fafaff;
  text-decoration: none;
  transition: 1s all;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #5e548e;
  border-right: 2px solid #5e548e;
  border-left: 2px solid #fafaff;
  border-top: 2px solid #fafaff;
  transition: 1s all;
  text-shadow: 1px 1px 1px #000;
}
/*Como Usuario*/
.cajaUsuario {
  background-image: url("https://images.pexels.com/photos/14933181/pexels-photo-14933181.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 3% 0% 21.3% 0%;
}
.containerNotasUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -2% 0%;
}
.labelNotUs {
  background-color: #1b263b;
  border: 1px groove #fafaff;
  padding: 0% 2%;
  margin: 1% 0%;
  letter-spacing: 2px;
  color: #e0e1dd;
  font-size: 20px;
}
.tareasUs {
  resize: none;
}

.inputUs {
  background-color: #1b263ba2;
  color: #e0e1dd;
  border-bottom: 2px solid #e0e1dd;
  border-right: 2px solid #e0e1dd;
  border-left: 2px solid #1b263ba2;
  border-top: 2px solid #1b263ba2;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}

.inputUs:focus {
  background-color: #1b263ba2;
  border: 2px groove #e0e1dd;
  color: #e0e1dd;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}
.inputUs:hover {
  background-color: #1b263ba2;
  border-bottom: 2px solid #1b263ba2;
  border-right: 2px solid #1b263ba2;
  border-left: 2px solid #e0e1dd;
  border-top: 2px solid #e0e1dd;
  transition: 1s all;
}
.containerBotonesUs {
  display: grid;
  align-items: end;
  align-content: stretch;
  justify-content: center;
  justify-items: center;
}
.botonModNotUs {
  margin: 12% 0%;
  text-decoration: none;
  color: #fcbf49;
  background-color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #fcbf49;
  border-right: 2px solid #fcbf49;
  border-left: 2px solid #f77f00;
  border-top: 2px solid #f77f00;
  font-size: 15px;
  transition: 1s all;
}
.botonModNotUs:hover {
  margin: 12% 0%;
  text-decoration: none;
  background-color: #fcbf49;
  color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: -1% 48%;
  border-bottom: 2px solid #f77f00;
  border-right: 2px solid #f77f00;
  border-left: 2px solid #fcbf49;
  border-top: 2px solid #fcbf49;
  font-size: 15px;
  transition: 1s all;
}

.botonVolNotUs {
  color: #e0e1dd;
  background-color: #1b263b;
  text-decoration: none;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #e0e1dd;
  border-right: 2px solid #e0e1dd;
  border-left: 2px solid #1b263b;
  border-top: 2px solid #1b263b;
  transition: 1s all;
}

.botonVolNotUs:hover {
  background-color: #1b263b;
  color: #e0e1dd;
  text-decoration: none;
  transition: 1s all;
  padding: 0% 3%;
  border-radius: 1%;
  border-bottom: 2px solid #1b263b;
  border-right: 2px solid #1b263b;
  border-left: 2px solid #e0e1dd;
  border-top: 2px solid #e0e1dd;
  transition: 1s all;
}
