/*Navbar usuario*/
.cajaHome {
  display: flex;
  background-color: #3d5a80;
  letter-spacing: 2px;
}
.tituloInicial {
  color: #e0fbfc;
  margin: 1% 3% 1% 6%;
}

.cajaGenUs {
  background-color: #1b263b;
  padding: 1%;
}
.cajaUser {
  display: flex;
}
.tUsuario {
  color: #a3cef1;
  text-shadow: 1px 1px 1px #000;
}
.containerSections {
  display: flex;
  padding: 0% 46%;
  justify-content: space-around;
  transform: translate(239px, 0px);
}
.listasDeUsuario{
  margin: 0% 25%;
  list-style: none;
}
.enlaceSecciones{
  text-decoration: none;
  color: #a3cef1;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}
.listaUser {
  color: #a3cef1;
  display: flex;
  text-decoration: none;
  list-style: none;
  transition: 1s all;
  padding: 0% 0% 0% 40%;
}
.listaUs {
  margin: 0% 60%;
  width: 100%;
}

.datosUs {
  width: 200%;
}
@media screen and (max-width: 380px) {
  .cajaHome {
    display: flex;
    background-color: #3d5a80;
    letter-spacing: 2px;
  }
  .tituloInicial {
    color: #e0fbfc;
    margin: 1% 3% 1% 6%;
  }

  .cajaGenUs {
    background-color: #1b263b;
    padding: 1%;
  }
  .cajaUser {
    display: flex;
  }
  .tUsuario {
    color: #a3cef1;
    text-shadow: 1px 1px 1px #000;
  }

  .listaUser {
    color: #a3cef1;
    display: flex;
    text-decoration: none;
    list-style: none;
    transition: 1s all;
    padding: 0% 0% 0% 15%;
  }
  .listaUser:hover {
    color: #e0e1dd;
    display: flex;
    text-decoration: none;
    list-style: none;
    transition: 1s all;
    padding: 0% 0% 0% 15%;
    text-shadow: 1px 1px 1px #000;
  }
  .listaUs {
    margin: 0% 15%;
    width: 100%;
  }

  .datosUs {
    width: 200%;
  }
}
/*Navbar Admin*/
.cajaAdm {
  background-color: #161a1d;
}

.tAdmin {
  color: #d90429;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #000;
  padding: 0% 5%;
}
.listaComponent {
  display: flex;
  margin: 5% 40%;
}
.datosAdmin {
  margin: 1% 30%;
}
.containerAdm {
  display: flex;
  padding: 1% 0%;
}
.listaAd {
  display: flex;
  margin: 0% 30%;
}
.listasAdm {
  margin: 0% 90%;
  list-style: none;
}
.listaAdmin {
  text-decoration: none;
  color: #d90429;
  text-shadow: 1px 1px 1px #000;
  transition: 1s all;
}

.listaAdmin:hover {
  text-decoration: none;
  color: #edf2f4;
  text-shadow: 1px 1px 1px #d90429;
  transition: 1s all;
}
@media screen and (max-width: 380px) {
  .cajaAdm {
    background-color: #161a1d;
  }

  .tAdmin {
    color: #d90429;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #000;
  }
  .listaComponent {
    display: flex;
    margin: 0% 79% 0% 0%;
    font-size: 15px;
    flex-wrap: wrap;
  }
  .datosAdmin {
    margin: 0% 0%;
  }
  .containerAdm {
    display: flex;
    padding: 2% 9% 1% 3%;
  }
  .listaAd {
    display: grid;
    margin: 0% 0%;
    justify-items: center;
  }
  .listasAdm {
    margin: 0% 0%;
    list-style: none;
  }
  .listasAdm {
    margin: 0% 20%;
    list-style: none;
  }
  .listaAdmin {
    text-decoration: none;
    color: #d90429;
    text-shadow: 1px 1px 1px #000;
    transition: 1s all;
  }

  .listaAdmin:hover {
    text-decoration: none;
    color: #edf2f4;
    text-shadow: 1px 1px 1px #d90429;
    transition: 1s all;
  }
}
