.caja1{
    background-image: url(https://images.pexels.com/photos/1629212/pexels-photo-1629212.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-attachment: fixed;
    padding: 26.3px;
}

.subcaja1{
    padding:10px;
    width: 60%;
    background-color: #e9c56a9c;
    margin:0px auto;
}
.tituloPrin{
    text-align: center;
    margin:0% auto;
    color:#e76f51;
    text-shadow: 0 1px 1px #000;
}
.form{
    padding: 0px;
    width: 60%;
    text-align: center;
    margin: 0% auto;
}

.nombreLabel{
    display:flex;
    margin: 0% 3%;
    color:#e76f51;
    text-shadow: 0 1px 1px #000;
    font-size:20px;
    letter-spacing:2px;
}
.BtnRegister{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.botonEnvio{
    background-color: #78290f;
    color: #ffecd1;
    font-size: 15px;
    letter-spacing:2px;
    text-shadow: 0 1px 1px #000;
    border-radius:5px;
    transition:1s all;
}
.botonEnvio:hover{
   color: #78290f;
   background-color: #ffecd1;
    font-size: 15px;
    letter-spacing:2px;
    text-shadow: 0 1px 1px #000;
    border-radius:5px;
    border:1px solid #ffecd1;
    transition:1s all;
}

.botonLogin {
    background-color: #78290f;
    color: #ffecd1;
    border-radius: 5px;
    text-shadow: 0 1px 1px #000;
    margin: 2% 0%;
    transition:1s all;
}
.botonLogin:hover {
   color: #78290f;
   background-color: #ffecd1;
    border-radius: 5px;
    text-shadow: 0 1px 1px #000;
    margin: 2% 0%;
    border:1px solid #ffecd1;
    transition:1s all;
}

@media screen and (max-width:380px){
    .caja1{
        background-image: url(https://images.pexels.com/photos/1629212/pexels-photo-1629212.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
        background-size: cover;
        background-attachment: fixed;
        padding: 15.9% 0% 16% 0%;
    }
    
    .subcaja1{
        padding: 1% 0% 1% 0%;
        width: 90%;
        background-color: #e9c56a9c;
        margin: 0px auto;
    }
    .tituloPrin{
        text-align: center;
        margin:0% auto;
        color:#e76f51;
        text-shadow: 0 1px 1px #000;
    }
    .form{
        padding: 0px;
        width: 60%;
        text-align: center;
        margin: 5% auto;
    }
    
    .nombreLabel{
        display:flex;
        margin: 0% 3%;
        color:#e76f51;
        text-shadow: 0 1px 1px #000;
        font-size:20px;
        letter-spacing:2px;
    }
    .BtnRegister{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin: 5% 0% 0% 0%;
    }
    .botonEnvio{
        background-color: #78290f;
        color: ##ffecd1afaff;
        font-size: 15px;
        letter-spacing:2px;
        text-shadow: 0 1px 1px #000;
        border-radius:5px;
        transition:1s all;
    }
    .botonEnvio:hover{
       color: #78290f;
       background-color: #ffecd1;
        font-size: 15px;
        letter-spacing:2px;
        text-shadow: 0 1px 1px #000;
        border-radius:5px;
        border:1px solid #ffecd1;
        transition:1s all;
    }
    
    .botonLogin {
        background-color: #78290f;
        color: #ffecd1;
        border-radius: 5px;
        text-shadow: 0 1px 1px #000;
        margin: 2% 0%;
        transition:1s all;
    }
    .botonLogin:hover {
       color: #78290f;
       background-color: #ffecd1;
        border-radius: 5px;
        text-shadow: 0 1px 1px #000;
        margin: 2% 0%;
        border:1px solid #ffecd1;
        transition:1s all;
    }
    
    
}