/*Planificador como administrador*/
.fondoPlnAdm {
  background: linear-gradient(
    45deg,
    rgba(43, 45, 66, 1) 0%,
    rgba(237, 242, 244, 1) 50%,
    rgba(141, 153, 174, 1) 100%
  );
}
.contenedorPlnAdm {
  text-shadow: 1px 1px 1px #000;
  padding: 5% 2%;
}
.descripcionPlnAdm {
  background-color: #d98484a8;
  color: #d90429;
  text-shadow: 1px 1px 1px #000;
  padding: 1.45% 2%;
  width: 50%;
  margin: 0px auto;
}
.botonDelAdmPln {
  background-color: #d90429;
  color: #e4d9ff;
  border-bottom: 2px solid #e4d9ff;
  border-right: 2px solid #e4d9ff;
  border-left: 2px solid #d90429;
  border-top: 2px solid #d90429;
  transition: 1s all;
}

.botonDelAdmPln:hover {
  background-color: #d90429;
  color: #e4d9ff;
  border-top: 2px solid #e4d9ff;
  border-left: 2px solid #e4d9ff;
  border-right: 2px solid #d90429;
  border-bottom: 2px solid #d90429;
  transition: 1s all;
}

@media screen and (max-width: 380px) {
  .fondoPlnAdm {
    background: linear-gradient(
      45deg,
      rgba(43, 45, 66, 1) 0%,
      rgba(237, 242, 244, 1) 50%,
      rgba(141, 153, 174, 1) 100%
    );
    padding: 26% 0% 28% 0%;
  }
  .contenedorPlnAdm {
    text-shadow: 1px 1px 1px #000;
    padding: 4.5% 2%;
  }
  .descripcionPlnAdm {
    background-color: #d98484a8;
    color: #d90429;
    text-shadow: 1px 1px 1px #000;
    padding: 1.45% 2%;
    width: 90%;
    margin: 0px auto;
  }
  .botonDelAdmPln {
    background-color: #d90429;
    color: #e4d9ff;
    border-bottom: 2px solid #e4d9ff;
    border-right: 2px solid #e4d9ff;
    border-left: 2px solid #d90429;
    border-top: 2px solid #d90429;
    transition: 1s all;
  }

  .botonDelAdmPln:hover {
    background-color: #d90429;
    color: #e4d9ff;
    border-top: 2px solid #e4d9ff;
    border-left: 2px solid #e4d9ff;
    border-right: 2px solid #d90429;
    border-bottom: 2px solid #d90429;
    transition: 1s all;
  }
}
/*Planificador como Usuario*/
.fondoPlnUs {
  background: linear-gradient(
    45deg,
    rgba(226, 149, 120, 1) 0%,
    rgba(237, 246, 249, 1) 50%,
    rgba(0, 109, 119, 1) 100%
  );
  padding: 8.9% 0% 8.8% 0%;
  border-radius: 0%;
}
.descripcionPlnUs {
  background-color: #1b263bc2;
  color: #fafaff;
  text-shadow: 1px 1px 1px #000;
  padding: 1.45% 2%;
  width: 50%;
  margin: 0px auto;
}
.tituloPlnUsu {
  font-size: 35px;
  color: #e0e1dd;
}
.textoPlnUsu {
  font-size: 25px;
  color: #e0e1dd;
}
.modificarPlnUs {
  text-decoration: none;
  color: #fcbf49;
  background-color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: 0% 1%;
  border-bottom: 2px solid #fcbf49;
  border-right: 2px solid #fcbf49;
  border-left: 2px solid #f77f00;
  border-top: 2px solid #f77f00;
  font-size: 15px;
  transition: 1s all;
  margin: 0% 5%;
}
.modificarPlnUs:hover {
  text-decoration: none;
  background-color: #fcbf49;
  color: #f77f00;
  text-shadow: 1px 1px 1px #000;
  padding: 0% 1%;
  border-bottom: 2px solid #f77f00;
  border-right: 2px solid #f77f00;
  border-left: 2px solid #fcbf49;
  border-top: 2px solid #fcbf49;
  font-size: 15px;
  transition: 1s all;
  margin: 0% 5%;
}

.botonPlnUs {
  background-color: #d90429;
  color: #e4d9ff;
  border-bottom: 2px solid #e4d9ff;
  border-right: 2px solid #e4d9ff;
  border-left: 2px solid #d90429;
  border-top: 2px solid #d90429;
  transition: 1s all;
  padding: 0% 1%;
}

.botonPlnUs:hover {
  background-color: #d90429;
  color: #e4d9ff;
  border-top: 2px solid #e4d9ff;
  border-left: 2px solid #e4d9ff;
  border-right: 2px solid #d90429;
  border-bottom: 2px solid #d90429;
  transition: 1s all;
  padding: 0% 1%;
}
@media screen and (max-width: 380px) {
  .fondoPlnUs {
    background: linear-gradient(
      45deg,
      rgba(226, 149, 120, 1) 0%,
      rgba(237, 246, 249, 1) 50%,
      rgba(0, 109, 119, 1) 100%
    );
    padding: 20% 0% 35.5% 0%;
    border-radius: 0%;
  }
  .descripcionPlnUs {
    background-color: #1b263bc2;
    color: #fafaff;
    text-shadow: 1px 1px 1px #000;
    padding: 5% 5%;
    width: 90%;
    margin: 0px auto;
  }
  .tituloPlnUsu {
    font-size: 35px;
    color: #e0e1dd;
  }
  .textoPlnUsu {
    font-size: 25px;
    color: #e0e1dd;
  }
  .modificarPlnUs {
    text-decoration: none;
    color: #fcbf49;
    background-color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: 0% 1%;
    border-bottom: 2px solid #fcbf49;
    border-right: 2px solid #fcbf49;
    border-left: 2px solid #f77f00;
    border-top: 2px solid #f77f00;
    font-size: 15px;
    transition: 1s all;
    margin: 0% 5%;
  }
  .modificarPlnUs:hover {
    text-decoration: none;
    background-color: #fcbf49;
    color: #f77f00;
    text-shadow: 1px 1px 1px #000;
    padding: 0% 1%;
    border-bottom: 2px solid #f77f00;
    border-right: 2px solid #f77f00;
    border-left: 2px solid #fcbf49;
    border-top: 2px solid #fcbf49;
    font-size: 15px;
    transition: 1s all;
    margin: 0% 5%;
  }

  .botonPlnUs {
    background-color: #d90429;
    color: #e4d9ff;
    border-bottom: 2px solid #e4d9ff;
    border-right: 2px solid #e4d9ff;
    border-left: 2px solid #d90429;
    border-top: 2px solid #d90429;
    transition: 1s all;
    padding: 0% 1%;
  }

  .botonPlnUs:hover {
    background-color: #d90429;
    color: #e4d9ff;
    border-top: 2px solid #e4d9ff;
    border-left: 2px solid #e4d9ff;
    border-right: 2px solid #d90429;
    border-bottom: 2px solid #d90429;
    transition: 1s all;
    padding: 0% 1%;
  }
}
